@font-face {
  font-family: 'iconfont';  /* project id 1500377 */
  src: url('//at.alicdn.com/t/font_1500377_dwd3avhgmm8.eot');
  src: url('//at.alicdn.com/t/font_1500377_dwd3avhgmm8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1500377_dwd3avhgmm8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1500377_dwd3avhgmm8.woff') format('woff'),
  url('//at.alicdn.com/t/font_1500377_dwd3avhgmm8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1500377_dwd3avhgmm8.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e633";
}

.icon-address:before {
  content: "\e63c";
}

.icon-more2:before {
  content: "\e64c";
}

.icon-address2:before {
  content: "\e6a6";
}

.icon-search:before {
  content: "\e66a";
}

.icon-search2:before {
  content: "\e620";
}

.icon-qing:before {
  content: "\e61f";
}

.icon-duoyun:before {
  content: "\e631";
}

.icon-dayu:before {
  content: "\e62c";
}

.icon-xiaoyu:before {
  content: "\e62d";
}

.icon-zhongyu:before {
  content: "\e62e";
}

.icon-shandian:before {
  content: "\e606";
}

.icon-xue:before {
  content: "\ec74";
}

.icon-xiaoyu2:before {
  content: "\e604";
}

.icon-dayu2:before {
  content: "\e62f";
}

.icon-xiaoyu3:before {
  content: "\e630";
}

.icon-zhongyu1:before {
  content: "\e632";
}

.icon-clound:before {
  content: "\e60b";
}

